.result{
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    height: 100vh;
    color: white;
    font-family: sans-serif;
    /* justify-content: center; */
    align-items: center;
    padding-top: 30%;
}

.result >img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
}