.q-deatils-container{
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eff1f7;
    height: 100vh;
}

.details-header{
      font-family: sans-serif;
      color: green;
}

.sub-container{
    display: flex;
    align-items: center;
}

.para-deatail{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.start-btn{
    background-color: #561376;
    color: white;
    border: none;
    padding: 6px 15px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 20px;
    margin: auto 44%;
    margin-top: 10px;
}

.block{
    display: block;
    background-color: #561376;
    color: white;
    border: none;
    padding: 6px 15px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 20px;
    position: absolute;
    bottom: 20px;
}

.none{
    display: none;
    /* position: absolute;
    bottom: 20px */
}
.blocked{
    border: none;
    padding: 6px 15px;
    font-family: sans-serif;
    border-radius: 20px;
    position: absolute;
    bottom: 20px;
    background-color: white;
    width: 90%;
    margin: 20px 20px 0px 20px;
   
}

.blocked > h3{
    padding: 15px;
    text-align: center;
}


.blocked > div{
    padding: 15px;
}